.login
    background-color blue 
    margin auto
    padding: 5px 15px
    border-radius: 25px
    color white !important
    border none
#login-form
    input[type="password"], input[type="password"] 
        background-color transparent
        border-color: #474747
        padding: 10px 
        margin: 10px 0
    input[type="submit"]
        background-color red
        margin 15px 0 0 250px
.main-admin-container
    padding 0 0 130px 0
    header         
        padding: 15px
        background-color #FFA200
        color: white
        a
            background-color white
            color #1c1c1c !important
            font-size: 14px
            padding: 10px 15px
            border-radius: 5px
            margin-right: 10px
    .projects-container
        margin-top: 130px
.logo-holder img
    max-height: 220px !important

.accordion
    border-bottom:  1px solid rgba(0,0,0,.125) !important

@media(max-width 991px)
    .logo-holder img
        max-height: 26px !important
    .logo-holder > .big-logo
        display: none !important
    .logo-holder > .display-none
        display: inline-block !important