.bg-deep-pink-opacity {
    background-color: rgba(250, 188, 75, 0.85);
}
.btn-medium{
   border: 2px solid #000000;
}
.back{
    background-color: #f2f2f2;
}
.login{
    background-color: rgba(250, 188, 75);
}
.btn.btn-dark-gray{
    border-color: rgba(250, 188, 75);
    color: rgba(250, 188, 75);
}
.img1{
    margin-left: 700px;
    margin-top: -450px;
}
.enterview{
    background-color:#f2f2f2;
}
.titles{
    color: black;
}
.ver:hover{
    color: rgb(250, 167, 12);
}
.hide{
    display: none;
}
.border{
    border: 2px solid black!important;
    margin-bottom: 5px;
}
#contendor_carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}
#carga{
    border: 15px solid #ccc;
    border-top-color: rgba(250, 188, 75);
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: girar 1.5s linear infinite;
    -o-transition: girar 1.5s linear infinite;
    transition: girar 1.5s linear infinite;
}
@keyframes girar{
    from { transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}